@media (min-width: 720px) {
    header {
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        .header-bar {
            width: 100%;
            margin-inline: auto;
            height: 3.2rem;
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid light-dark(#eef0f2, #253945);
            align-items: center;
            .site-name {
                margin-inline-start: 1rem;
            }
            .box-nav {
                margin-inline-end: 1rem;
                display: flex;
                font-family: "Josefin Sans";
                .hamburger,
                #navbar {
                    display: none;
                }
                nav {
                    display: flex;
                    position: relative;
                    margin: 0;
                    background-color: light-dark(black, #121c22);
                    ul {
                        display: flex;
                        position: relative;
                    }
                }
                picture {
                    display: flex;
                    height: 100%;
                    img {
                        height: 2rem;
                        width: 2rem;
                    }
                }
            }
        }
    }
    .hero-folder {
        margin-inline: auto;
        margin-block-end: 2rem;
        width: 90%;
        .box-data {
            align-items: center;
            display: flex;
            flex-direction: row;
            margin-block-start: 1rem;
            img {
                border-radius: 15px;
                width: 45%;
                height: initial;
            }
            .text-hero {
                width: 48%;
                margin-inline: auto;
                text-align: center;
                h1 {
                    font-family: "Josefin Sans";
                    font-size: 4rem;
                    margin-block-end: 1rem;
                }
                p {
                    font-family: "Josefin Sans";
                    font-size: 1.2rem;
                    margin-block-start: 0.1rem;
                }
            }
        }
    }
}
