---
import Og from "./meta/opengraph-index.astro";
---

<Og />
<title>DelTronik</title>
<meta
    name="description"
    content="deltronik solution | Blog, Notas de estudios, proyectos y mas! Todo relacionado a Informatica, Electronica y Programación"
/>
