---
interface Props {
    folder: string;
}

const { folder } = Astro.props;

const descriptions = import.meta.glob("/src/content/note/**/desc.txt", {
    query: "?raw",
    import: "default",
});

const path = `/src/content/note/${folder}/desc.txt`;
let descriptionText = "Descripción no disponible.";

if (descriptions[path]) {
    descriptionText = (await descriptions[path]()) as string;
}
---

<p>{descriptionText}</p>
