---
import { ImageMetadata } from "astro";

interface Props {
  imagePath: string;
  title: string;
  noteNumber: number;
}

const {imagePath, title, noteNumber } = Astro.props;
const Images = import.meta.glob<{ default: ImageMetadata }>('/src/content/note/**/*.{jpeg,jpg,png,gif}')
---
<article class="folder">
    <img src={(await Images[imagePath]()).default.src} alt={`Portada imagen de ${title}`} loading="lazy" decoding="async"/>
    <h2>{title}</h2>
    <p>{noteNumber} notas</p>
</article>
<style>
.folder {
    display: flex;
    flex-direction:column;
    text-align: center;
    margin-inline: 2rem;
    overflow: hidden;
    width: 14rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    &:hover {
        transform: scale(1.05);
    }
    img {
            margin: 0;
            width: 100% !important;
            aspect-ratio: 1/1 !important;
            border-radius: 15px;
        }
    }
    h2 {
        margin: 0;
        margin-block-start: 0.3rem;
        padding: 0;
        font-family: "Inter";
    }
    h2::first-letter {
        text-transform: uppercase;
    }
    p{
        margin:0;
        padding:0;
        font-size: 0.8rem;
        font-family:"Inter";
    }
}
</style>
