---
type Props = {
  title: string;
  slug: string;
  excerpt: string;
  date: Date;
};

const { title, slug, excerpt, date } = Astro.props;
import IconBlog from "@/components/resources/iconsBlogCard.astro";
---

<div
  class="w-full mx-auto bg-gradient-to-br relative pb-5 from-white/[0.001] to-white/[0.01] border-2 border-white rounded-lg overflow-hidden"
>
  <div class="flex items-top justify-between px-4 py-2 bg-white/95">
	<p class="text-black font-medium tracking-medium">
	#{date.toLocaleDateString("es-ar",{
		year: "numeric",
		month: "short",
		day: "numeric",
		})
	}
	</p>  
	<div class="flex space-x-2">
	<div class="w-3 h-3 rounded-full bg-gray-900 p-2"></div>
	<div class="w-3 h-3 rounded-full bg-green-900 p-2"></div>
	<div class="w-3 h-3 rounded-full bg-red-900 p-2"></div>
    </div>
  </div>

  <div class="p-6 tracking-wider">
    <a href={`/blog/${slug}`} class="block group">
      <h2 class="titleBlogCard text-xl font-medium text-white mb-2">
	      <IconBlog/>
        	{title}
      </h2>
      <p class="text-white/80 text-sm font-thin mb-4 line-clamp-1">{excerpt}</p>
      <p class="text-white absolute bottom-4 font-medium inline-flex items-center group-hover:underline-offset-4 underline-offset-8 underline transition-all ease-in-out">
      Abrir posts >
	
      <!--<svg
          class="w-4 h-4 ml-2 transform group-hover:-translate-x-1 transition-transform"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-jine-join="round"
            stroke-width={2}
            d="M9 5l7 7-7 7"></path>
	</svg>-->
      </p>
    </a>
  </div>
</div>
