@import url("./main.css");
@import url("./Index/header/menor360.css");
@import url("./Index/footer/menor360.css");

/*Notas en index*/
.headnote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    font-family: "Josefin Sans";
    .all-note-link {
        color: darkorange;
    }
}
.note {
    display: inline;
    width: 80%;
    margin-block: 2rem;
    margin-inline: auto;
    article {
        display: flex;
        align-items: center;
        height: 3rem;
        width: 100%;
        margin-block-end: 2rem;
        picture {
            width: 3rem;
            height: 100%;
            margin-inline-end: 1rem;
            border-radius: 5px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .title-note {
            width: calc(100% - 6rem);
            h3 {
                margin: 0;
                padding: 0;
                font-family: "Josefin Sans";
                font-size: 1.2rem;
                font-weight: 900;
            }
            h6 {
                margin: 0;
                padding: 0;
                font-family: "Lora";
            }
        }
        .arrow-note {
            font-weight: 600;
            font-size: 2rem;
        }
    }
}
