@font-face {
    font-family: "Josefin Sans";
    src: url("../assets/fonts/JosefinSans-VariableFont_wght.ttf")
        format("truetype");
}
@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf")
        format("truetype");
}
@font-face {
    font-family: "Lora";
    src: url("../assets/fonts/Lora/Lora-VariableFont_wght.ttf")
        format("truetype");
}
@font-face {
    font-family: "Jersey";
    src: url("../assets/fonts/Jersey15-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Syne Mono";
    src: url("../assets/fonts/SyneMono-Regular.ttf") format("truetype");
}
