@import url("./main.css");
@import url("./Notas/nota/aside.css");
body {
    flex-direction: row;
}
main {
    width: 92%;
    margin-inline: auto;
}
@media (min-width: 360px) and (max-width: 520px) {
}
@media (min-width: 521px) and (max-width: 720px) {
}
@media (min-width: 720px) {
}
