---

---

<form
    name="contacto"
    method="POST"
    data-netlify="true"
    netlify-honeypot="bot-field"
>
    <label for="correo">Correo electrónico:</label>
    <input
        class="correo"
        type="email"
        id="correo"
        name="correo"
        required
        autocomplete="email"
        placeholder="tucorreo@ejemplo.com"
    />

    <label for="mensaje">Mensaje:</label>
    <textarea
        class="text"
        id="mensaje"
        name="mensaje"
        required
        rows="5"
        placeholder="Escribí tu mensaje..."></textarea>

    <p class="hidden">
        <label
            >Si sos un robot, llená este campo: <input
                name="bot-field"
            /></label
        >
    </p>

    <button class="btn" type="submit">Enviar</button>
</form>
