---

---

<nav class="nav-link-list">
    <ul>
        <li>
            <a href="/blog/"
                ><i class="fa-solid fa-star-of-life"></i> DelTronik Blog</a
            >
        </li>
        <li>
            <a href="/note/"
                ><i class="fa-solid fa-star-of-life"></i> Carpetas de apuntes</a
            >
        </li>
    </ul>
</nav>
<style>
    nav {
        align-items: start;
        display: flex;
        margin: auto;
        margin-block-start: 1rem;
        width: 90%;
        ul {
            text-align: start;
            width: 100%;
            i {
                font-size: 0.8rem;
            }
        }
    }
</style>
