---
import "@fortawesome/fontawesome-free/css/all.min.css";
---

<nav class="social-icons">
    <a
        href="https://github.com/deltronik"
        target="_blank"
        rel="noopener noreferrer"
    >
        <i class="fab fa-github"></i>
    </a>
    <a
        href="https://threads.net/@deltronik"
        target="_blank"
        rel="noopener noreferrer"
    >
        <i class="fab fa-threads"></i>
    </a>
    <a
        href="https://twitter.com/deltronik_"
        target="_blank"
        rel="noopener noreferrer"
    >
        <i class="fab fa-twitter"></i>
    </a>
</nav>
<style>
    .social-icons {
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
        margin-inline: 1rem;
        a {
            margin-inline: 0.3rem;
            i {
                font-size: 2rem;
            }
        }
    }
</style>
