---
---
<span class="ba text-white/70 mr-2 material-symbols-outlined">
description
</span>

<style>
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
</style>
