---

---

<section class="hero">
    <div class="paragraph">
        <p>Cuando los electrones se mueven las cosas suceden</p>
    </div>
</section>
<style>
    .hero {
        background-image: url("./../../assets/img/banner.png");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        height: 80dvh;
        width: 100%;
        margin-inline: auto;
        align-items: end;
        .paragraph {
            width: 100%;
            text-align: center;
            p {
                text-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
                color: #f9fbfc;
                font-size: 3rem;
                font-weight: 400;
                font-family: "Syne Mono";
            }
        }
    }
</style>
