<section class="hero">
    <div class="paragraph">
        <p>Cuando los electrones se mueven las cosas suceden</p>
    </div>
</section>
<style>
    .hero {
        background-image: url("./../../assets/img/banner.png");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 1rem;
        display: flex;
        height: 80dvh;
        width: 80%;
        margin-inline: auto;
        margin-block: 2rem;
        align-items: end;
        .paragraph {
            width: 100%;
            text-align: center;
            p {
                font-size: 3rem;
            }
        }
    }
</style>
