---
import Meta from "./../components/meta.astro";
---

<!doctype html>
<html lang="es">
    <head>
        <Meta />
        <title>DelTronik</title>
        <meta
            name="description"
            content="DelTronik es una empresa dedicada a la venta de productos electrónicos de alta calidad."
        />
    </head>
    <body>
        <slot />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
