---
import "./../css/main.css";
import Meta from "./../components/meta.astro";
import Header from "./../components/header.astro";
import Footer from "./../components/footer.astro";
const { PrintHero } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <Meta />
        <title>DelTronik</title>
        <meta
            name="description"
            content="DelTronik es una empresa dedicada a la venta de productos electrónicos de alta calidad."
        />
    </head>
    <body class="box">
        <Header PrintHero={PrintHero} />
        <slot />
        <Footer />
    </body>
</html>

<style>
    /** RessetCSS **/
    html {
        color-scheme: light dark;
        body {
            background-color: light-dark(#f9fbfc, #121c22);
            min-height: 100dvh;
            margin: 0;
            padding: 0;
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p {
                color: light-dark(black, white);
            }
            ol,
            ul,
            li {
                padding: 0;
                margin: 0;
                list-style: none;
            }
            a {
                color: light-dark(black, white);
                text-decoration: none;
            }
        }
    }
    /** End RessetCSS**/
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>
