header {
    height: 90dvh;
    display: flex;
    flex-direction: column;
    margin-block-end: 2rem;
    .hero-folder {
        margin-inline: auto;
        margin-block: auto;
        width: 80%;
        .box-data {
            align-items: center;
            display: flex;
            flex-direction: row;
            img {
                width: 45%;
                aspect-ratio: 1 / 1;
                border-radius: 15px;
            }
            .text-hero {
                width: 54%;
                margin-inline-start: auto;
                h1 {
                    font-family: "Josefin Sans";
                    font-size: 4rem;
                    margin-block-end: 1.2rem;
                }
                p {
                    font-family: "Josefin Sans";
                    font-size: 1.2rem;
                }
            }
        }
    }
}
