---

---

<figure>
    <img src="/img/logo.svg" alt="DelTronik Solution Logo" />
</figure>
<h2 class="author-name">DelTronik</h2>

<nav>
    <ul>
        <li><a href="./"></a>Inicio</li>
        <li><a href="/notas/">Apuntes</a></li>
    </ul>
</nav>
