---

---

<h2>
    <span class="d">D</span><span class="e">e</span><span class="l">l</span
    ><span class="t">T</span><span class="r">r</span><span class="o">o</span
    ><span class="n">n</span><span class="i">i</span><span class="k">k</span>
</h2>
<style>
    h2 {
        font-family: "Jersey";
        font-size: 2.4rem;
        font-weight: 300;
        .d {
            color: #9e0031;
        }
        .e {
            color: #ca6702;
        }
        .l {
            color: #ffc971;
        }
        .t {
            color: #81b29a;
        }
        .r {
            color: #57a1c6;
        }
        .o {
            color: #a471f8;
        }
        .n {
            color: #d36135;
        }
        .i {
            color: #dabfff;
        }
        .k {
            color: #ff6b6b;
        }
    }
</style>
